@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "react-slideshow-image/dist/styles.css";

body {
  background: white;
  color: #00545f;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-font {
  transition: font-weight 0.3s ease;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.bg-gradient-soft-pink {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgba(249, 206, 255, 0.7),
    rgb(255, 255, 255)
  );
}
.my-page-gradient {
  background-image: linear-gradient(
    to bottom rgb(255, 221, 235),
    rgb(131, 0, 87)
  );
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0), white); */
}

.logos:after {
  right: 0;
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0), white); */
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  /* display: inline-block; */
  animation: 35s slide infinite linear;
}

@media only screen and (max-width: 768px) {
  .logos-slide {
    animation: 10s slide infinite linear;
  }
}

/* Define the keyframes for the underline animation */
@keyframes custom-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Initial state of the underline */
.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust based on your preference */
  height: 2px; /* Adjust based on your preference */
  width: 0;
  background-color: purple; /* Makes the underline color same as text color */
  transition: width 0.3s ease-in-out; /* Adjust timing as needed */
}

/* Hover state of the underline */
.custom-underline:hover::after {
  width: 100%;
}

.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
}

.container__slider > button {
  background-color: transparent;
  outline: none;
  border: 0;
  color: whitesmoke;
  font-size: 24px;
}

.container__slider > button:active {
  color: black;
}

.slider__btn-next {
  position: absolute;
  right: 0;
}

.slider__btn-prev {
  position: absolute;
  left: 0;
}

.container__slider__links {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container__slider__links-small {
  position: relative;
  width: 8px;
  height: 8px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: white;
  border: 1px solid grey;
  transition: background-color 1s ease;
  margin: 0 2px;
}

.container__slider__links-small-active {
  background-color: black;
}
.mimi {
  text-shadow: #000 1px 1px 1px;
}

.slider__item {
  box-sizing: border-box;
  min-width: 100%;
  overflow: hidden;
  object-fit: cover;
  transform: translateX(0);
  transition: transform 1s ease;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}

.slider__item img {
  width: 100%;
  height: auto;
}

.animated-gradient {
  background: linear-gradient(270deg, #ff0080, #ffed9f, #ff006a);
  background-size: 600% 600%;
  animation: gradientAnimation 8s ease infinite;
  opacity: 70%;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideUpDelayed {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-slide-up-delayed {
  animation: slideUpDelayed 0.8s ease-out 1.2s forwards;
}
